@import "root.css";

.account-wrapper{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    border: 5px solid var(--grey);
    border-radius: 1rem;
    padding: 3rem;
    align-items: center;
}
.pfp{
    width: 100px;
    height: 100px;
    fill: var(--grey);
}
.account-details{
    text-align: center;
    color: var(--dark-grey);
}
.account-wrapper a{
    color: var(--dark-grey);
}
.account-wrapper ul{
    text-align: center;
}
/* .account-main{
    height: 100%;
} */